/*-------------------------------------------------------*/
/*-----------------------CONTAINER-----------------------*/
/*-------------------------------------------------------*/

body {
  padding-top: 40px;
  background-color: #dceff7;
}

.container {
  background: rgb(205,226,233);
  background: -moz-linear-gradient(180deg, rgba(205,226,233,1) 0%, rgba(90,135,164,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(205,226,233,1) 0%, rgba(90,135,164,1) 100%);
  background: linear-gradient(180deg, rgba(205,226,233,1) 0%, rgba(90,135,164,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cde2e9",endColorstr="#5a87a4",GradientType=1);
  padding: 20px;
  border-radius: 4px;
}

/*-------------------------------------------------------*/
/*------------------------BANNER-------------------------*/
/*-------------------------------------------------------*/

.banner {
  margin: 20px 0;
  width: 100%;
  height: 100px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}

.banner > h1 {
  width: 100%;
  text-align: center;
  color: white;
}

/*-------------------------------------------------------*/
/*------------------------TABLE--------------------------*/
/*-------------------------------------------------------*/

table.ui.celled.table,
table.ui.celled.table > thead > tr > th {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(240, 240, 240);
}

/*-------------------------------------------------------*/
/*--------------------ADD-TRAIN-DIV----------------------*/
/*-------------------------------------------------------*/

div#add-train {
  text-align: center;
  color: white;
}

h3 {
  font-weight: normal;
}

/*-------------------------------------------------------*/
/*-------------------------FORM--------------------------*/
/*-------------------------------------------------------*/

form.ui.form > div.field > input.dark {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(240, 240, 240);
}

form.ui.form > div.field > input.dark:focus::placeholder {
  color: rgb(240, 240, 240);
}

form.ui.form > button.ui.button {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(240, 240, 240);
}

form.ui.form > button.ui.button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}